/* body{
    background-color: aqua;
    background-image: url('pexels-photo-27060825.webp');
    background: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100px;
} */


body{
    background-color: rgb(127, 148, 148);
    background-image: url('pexels-photo-27060825.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 600px;
    /* background:no-repeat ; */
    /* background-attachment: scroll; */
    /* background-position: left;
    background-size: 600px; */

}
p{
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(43, 226, 98) rgb(47, 50, 255) red;
    border-radius: 10px;
}
h1{
    border-style: dashed double dotted;
    border-width: 2px;
    border-color: greenyellow blue red;
    border-radius: 5px;
    margin: 30px;
    padding: 20px;
    height: 50px;
    width: 400px;
    text-align: center;
    text-decoration: underline overline;

}
h1 span{
    vertical-align: super;
}
a{
    text-decoration: none;
}